*{
    color:white;
}
body{
    background-color: navy;
}
#One{
    height: 60px;
    border: 8px solid white;
    background-color: black;
}

#link1{
    color:darkgoldenrod;
    font-size: 25px;
}

a{
    margin-right: 200px;
    text-decoration: none;
}

button{
    background-color: #f08804;
}

#SearchBar{
    color: black;
}

#Heading2{
    text-align: center;
}

#HeadingInfo{
    text-align: center;
}

#div1{
    color: #C19A6B;
    background-color: black;
    border: 2px solid beige;
    width: 200px;
    height: 320px;
    position: relative;
    left: 350px;
    border-radius: 6%;
    text-align: center;

}

#Image1{
    height: 175px;
    background-image: url(Images/div1\ image.jpeg);
    background-size: cover;
}

#div2{
    color: #C19A6B;
    background-color: black;
    border: 2px solid beige;
    width: 200px;
    height: 320px;
    position: relative;
    left: 950px;
    top: -310px;
    border-radius: 6%;
    text-align: center;
}

#Image2{
    height: 175px;
    background-image: url(Images/div2\ image.jpeg);
    background-size: cover;
}

#div3{
    color: #C19A6B;
    background-color: black;
    border: 2px solid beige;
    width: 200px;
    height: 320px;
    position: relative;
    top: -200px;
    left: 350px;
    border-radius: 6%;
    text-align: center;
}

#Image3{
    height: 175px;
    background-image: url(Images/div3\ image.jpeg);
    background-size: cover;
}

#div4{
    color: #C19A6B;
    background-color: black;
    border: 2px solid beige;
    width: 200px;
    height: 320px;
    position: relative;
    left: 950px;
    top: -510px;
    border-radius: 6%;
    text-align: center;
}

#Image4{
    height: 175px;
    background-image: url(Images/div4\ image.jpeg);
    background-size: cover;
}

#WebLink{
    position: relative;
    top: -200px;
}

footer{
    width: 100%;
    text-align: center;
    background-color: black;
    border: 4px solid white;
    position: fixed;
    bottom: 0;
}